/* [0] */
@font-face {
  font-family: 'Noto Colr Emoji Glyf';
  font-style: normal;
  font-weight: 400;
  src: url(https://fonts.gstatic.com/s/notocolremojiglyf/v13/~ChYKFE5vdG8gQ29sciBFbW9qaSBHbHlmIAVCCQoFZW1vamkQAA==.0.woff2) format('woff2');
  unicode-range: U+1faa5-1faa8, U+1fab0-1fab6, U+1fac0-1fac2, U+1fad0-1fad6;
}
/* [1] */
@font-face {
  font-family: 'Noto Colr Emoji Glyf';
  font-style: normal;
  font-weight: 400;
  src: url(https://fonts.gstatic.com/s/notocolremojiglyf/v13/~ChYKFE5vdG8gQ29sciBFbW9qaSBHbHlmIAVCCQoFZW1vamkQAA==.1.woff2) format('woff2');
  unicode-range: U+200d, U+1f3ff, U+1f9b3, U+1f9bc-1f9bd, U+1f9d1, U+1f9e7-1f9ff, U+1fa70-1fa74, U+1fa78-1fa7a, U+1fa80-1fa86, U+1fa90-1faa4;
}
/* [2] */
@font-face {
  font-family: 'Noto Colr Emoji Glyf';
  font-style: normal;
  font-weight: 400;
  src: url(https://fonts.gstatic.com/s/notocolremojiglyf/v13/~ChYKFE5vdG8gQ29sciBFbW9qaSBHbHlmIAVCCQoFZW1vamkQAA==.2.woff2) format('woff2');
  unicode-range: U+200d, U+1f37c, U+1f3fb-1f3ff, U+1f91d, U+1f9af-1f9b3, U+1f9bc-1f9bd, U+1f9d1;
}
/* [3] */
@font-face {
  font-family: 'Noto Colr Emoji Glyf';
  font-style: normal;
  font-weight: 400;
  src: url(https://fonts.gstatic.com/s/notocolremojiglyf/v13/~ChYKFE5vdG8gQ29sciBFbW9qaSBHbHlmIAVCCQoFZW1vamkQAA==.3.woff2) format('woff2');
  unicode-range: U+200d, U+2640, U+2642, U+fe0f, U+1f37c, U+1f3fb-1f3ff, U+1f91d, U+1f9af-1f9b3, U+1f9c9-1f9cb, U+1f9cd-1f9cf, U+1f9d1;
}
/* [4] */
@font-face {
  font-family: 'Noto Colr Emoji Glyf';
  font-style: normal;
  font-weight: 400;
  src: url(https://fonts.gstatic.com/s/notocolremojiglyf/v13/~ChYKFE5vdG8gQ29sciBFbW9qaSBHbHlmIAVCCQoFZW1vamkQAA==.4.woff2) format('woff2');
  unicode-range: U+200d, U+2640, U+2642, U+fe0f, U+1f3fb-1f3ff, U+1f9b5-1f9bf, U+1f9c1-1f9c8;
}
/* [5] */
@font-face {
  font-family: 'Noto Colr Emoji Glyf';
  font-style: normal;
  font-weight: 400;
  src: url(https://fonts.gstatic.com/s/notocolremojiglyf/v13/~ChYKFE5vdG8gQ29sciBFbW9qaSBHbHlmIAVCCQoFZW1vamkQAA==.5.woff2) format('woff2');
  unicode-range: U+1f3fb-1f3ff, U+1f90e-1f90f, U+1f93f, U+1f94d-1f94f, U+1f96c-1f978, U+1f97a-1f97f, U+1f998-1f9af, U+1f9b4-1f9b5;
}
/* [6] */
@font-face {
  font-family: 'Noto Colr Emoji Glyf';
  font-style: normal;
  font-weight: 400;
  src: url(https://fonts.gstatic.com/s/notocolremojiglyf/v13/~ChYKFE5vdG8gQ29sciBFbW9qaSBHbHlmIAVCCQoFZW1vamkQAA==.6.woff2) format('woff2');
  unicode-range: U+200d, U+fe0f, U+1f32b, U+1f37c, U+1f3fb-1f3ff, U+1f469, U+1f4a8, U+1f4ab, U+1f62e, U+1f635-1f636, U+1f6d5-1f6d7, U+1f6f9-1f6fc, U+1f7e0-1f7eb, U+1f90c-1f90d, U+1f9af-1f9b3, U+1f9bc-1f9bd;
}
/* [7] */
@font-face {
  font-family: 'Noto Colr Emoji Glyf';
  font-style: normal;
  font-weight: 400;
  src: url(https://fonts.gstatic.com/s/notocolremojiglyf/v13/~ChYKFE5vdG8gQ29sciBFbW9qaSBHbHlmIAVCCQoFZW1vamkQAA==.7.woff2) format('woff2');
  unicode-range: U+200d, U+2744, U+2b1b, U+fe0f, U+1f37c, U+1f3fb-1f3ff, U+1f408, U+1f415, U+1f43b, U+1f468-1f469, U+1f9af-1f9b3, U+1f9ba, U+1f9bc-1f9bd;
}
/* [8] */
@font-face {
  font-family: 'Noto Colr Emoji Glyf';
  font-style: normal;
  font-weight: 400;
  src: url(https://fonts.gstatic.com/s/notocolremojiglyf/v13/~ChYKFE5vdG8gQ29sciBFbW9qaSBHbHlmIAVCCQoFZW1vamkQAA==.8.woff2) format('woff2');
  unicode-range: U+a9, U+ae, U+200d, U+2122, U+23cf, U+2620, U+2640, U+2642, U+265f, U+267e, U+26a7, U+2764, U+fe0f, U+1f1e6-1f1ff, U+1f3f3-1f3f4, U+1f525, U+1fa79;
}
/* [9] */
@font-face {
  font-family: 'Noto Colr Emoji Glyf';
  font-style: normal;
  font-weight: 400;
  src: url(https://fonts.gstatic.com/s/notocolremojiglyf/v13/~ChYKFE5vdG8gQ29sciBFbW9qaSBHbHlmIAVCCQoFZW1vamkQAA==.9.woff2) format('woff2');
  unicode-range: U+200d, U+26ce, U+fe0f, U+1f1e6-1f1fd, U+1f1ff, U+1f201-1f202, U+1f237-1f238, U+1f23a, U+1f466-1f46a, U+1f4c7, U+1f521, U+1f523, U+1f55c-1f55e, U+1f561-1f567, U+1f5c3-1f5c4, U+1f5dc, U+1f6f7;
}
/* [10] */
@font-face {
  font-family: 'Noto Colr Emoji Glyf';
  font-style: normal;
  font-weight: 400;
  src: url(https://fonts.gstatic.com/s/notocolremojiglyf/v13/~ChYKFE5vdG8gQ29sciBFbW9qaSBHbHlmIAVCCQoFZW1vamkQAA==.10.woff2) format('woff2');
  unicode-range: U+200d, U+23ee, U+2697, U+26b1, U+2764, U+fe0f, U+1f191, U+1f1e6-1f1f4, U+1f1f7-1f1fa, U+1f1fc-1f1ff, U+1f22f, U+1f233, U+1f236, U+1f3bf, U+1f3ed, U+1f3fb-1f3ff, U+1f466-1f46a, U+1f4be, U+1f4e4, U+1f4ea, U+1f4ed, U+1f520, U+1f522, U+1f524, U+1f527, U+1f54d, U+1f55a, U+1f55f-1f560, U+1f5a8, U+1f5b2, U+1f5c2, U+1f68f, U+1f69d, U+1f69f-1f6a0, U+1f6b1, U+1f94c, U+1f9d1;
}
/* [11] */
@font-face {
  font-family: 'Noto Colr Emoji Glyf';
  font-style: normal;
  font-weight: 400;
  src: url(https://fonts.gstatic.com/s/notocolremojiglyf/v13/~ChYKFE5vdG8gQ29sciBFbW9qaSBHbHlmIAVCCQoFZW1vamkQAA==.11.woff2) format('woff2');
  unicode-range: U+23, U+200d, U+20e3, U+2328, U+23ed, U+23ef, U+23f8, U+2626, U+2638, U+2640, U+2642, U+2696, U+2708, U+2764, U+2797, U+fe0f, U+1f18e, U+1f196, U+1f1e6-1f1f5, U+1f1f7-1f1fc, U+1f1ff, U+1f21a, U+1f232, U+1f234, U+1f239, U+1f251, U+1f301, U+1f384-1f385, U+1f3a4, U+1f3a6, U+1f3a8, U+1f3b4, U+1f3e4, U+1f3ec-1f3ed, U+1f3f4, U+1f3fa-1f3ff, U+1f45d, U+1f466-1f46a, U+1f48b, U+1f4b1, U+1f4b9, U+1f4bc-1f4bd, U+1f4c1-1f4c2, U+1f4d0-1f4d1, U+1f4d4, U+1f4df, U+1f4eb, U+1f4f3-1f4f4, U+1f500, U+1f502, U+1f50f, U+1f527, U+1f529, U+1f52c, U+1f54e, U+1f550-1f551, U+1f553-1f559, U+1f5b1, U+1f5d2, U+1f680, U+1f686, U+1f688, U+1f68a, U+1f68e, U+1f692, U+1f69e, U+1f6a1, U+1f6b3, U+1f6b7-1f6b8, U+1f6c4, U+1f6cb, U+1f6e3-1f6e5, U+1f6f6, U+1f936, U+1f93d, U+1f960-1f961, U+1f9d1, U+1f9d7, U+1f9e3, U+1f9e5, U+e0062, U+e0067, U+e006c, U+e0073, U+e0077, U+e007f;
}
/* [12] */
@font-face {
  font-family: 'Noto Colr Emoji Glyf';
  font-style: normal;
  font-weight: 400;
  src: url(https://fonts.gstatic.com/s/notocolremojiglyf/v13/~ChYKFE5vdG8gQ29sciBFbW9qaSBHbHlmIAVCCQoFZW1vamkQAA==.12.woff2) format('woff2');
  unicode-range: U+2a, U+38, U+200d, U+20e3, U+2139, U+2196, U+21a9, U+23ea-23eb, U+23f2, U+23f9-23fa, U+25fb, U+2640, U+2642, U+2649, U+264c-2653, U+2695, U+269b, U+26d1, U+26f2, U+26f4, U+26f7-26f8, U+26fa, U+2708, U+2764, U+27bf, U+2b1c, U+fe0f, U+1f193, U+1f1e6-1f1fc, U+1f1fe-1f1ff, U+1f235, U+1f309, U+1f313-1f314, U+1f316-1f318, U+1f32f, U+1f33e, U+1f358, U+1f38d, U+1f391, U+1f39a-1f39b, U+1f3a4, U+1f3b3, U+1f3bd, U+1f3c2, U+1f3d1, U+1f3d3, U+1f3d7-1f3dc, U+1f3de, U+1f3e3, U+1f3e6-1f3e7, U+1f3ea-1f3eb, U+1f3ef, U+1f3f4, U+1f3f8, U+1f3fb-1f3ff, U+1f42b, U+1f441, U+1f45c, U+1f466-1f46a, U+1f472, U+1f474-1f475, U+1f482, U+1f48b, U+1f4ba, U+1f4bc, U+1f4c3-1f4c4, U+1f4cb, U+1f4d2-1f4d3, U+1f4d7-1f4d9, U+1f4dc, U+1f4e0, U+1f4e5, U+1f4ef, U+1f4f5-1f4f6, U+1f4fc, U+1f503, U+1f507-1f509, U+1f515, U+1f51a, U+1f51f, U+1f526-1f527, U+1f52c-1f52d, U+1f52f, U+1f532-1f533, U+1f53c, U+1f552, U+1f55b, U+1f570, U+1f573, U+1f58d, U+1f5e8, U+1f5fe, U+1f687, U+1f689, U+1f68b, U+1f68d, U+1f690, U+1f696, U+1f69c, U+1f6a5, U+1f6ad, U+1f6af-1f6b0, U+1f6b5, U+1f6bc, U+1f6be, U+1f6c2-1f6c3, U+1f6c5, U+1f6e0, U+1f6e2, U+1f6ec, U+1f6f0, U+1f6f3-1f6f4, U+1f959, U+1f963, U+1f968, U+1f96b, U+1f983, U+1f98f, U+1f994, U+1f9d1, U+1f9d3, U+1f9db, U+1f9dd, U+1f9e4, U+1f9e6, U+e0062-e0063, U+e0065, U+e0067, U+e006e, U+e0073-e0074, U+e007f;
}
/* [13] */
@font-face {
  font-family: 'Noto Colr Emoji Glyf';
  font-style: normal;
  font-weight: 400;
  src: url(https://fonts.gstatic.com/s/notocolremojiglyf/v13/~ChYKFE5vdG8gQ29sciBFbW9qaSBHbHlmIAVCCQoFZW1vamkQAA==.13.woff2) format('woff2');
  unicode-range: U+36-37, U+39, U+200d, U+20e3, U+2195, U+2199, U+21aa, U+231b, U+24c2, U+25fc-25fe, U+2622-2623, U+262a, U+2640, U+2642, U+2648, U+264a-264b, U+267f, U+2692, U+2695, U+26cf, U+26d3, U+26ea, U+26f0-26f1, U+26f5, U+26f9, U+26fd, U+2721, U+2754, U+2934, U+2b1b, U+303d, U+3299, U+fe0f, U+1f004, U+1f0cf, U+1f17e-1f17f, U+1f192, U+1f194, U+1f199-1f19a, U+1f1e6-1f1ea, U+1f1ec-1f1f5, U+1f1f7-1f1fa, U+1f1fe-1f1ff, U+1f250, U+1f302, U+1f306-1f307, U+1f312, U+1f321, U+1f325-1f326, U+1f329, U+1f32b, U+1f32d, U+1f359, U+1f362, U+1f372-1f373, U+1f384-1f385, U+1f38e, U+1f390, U+1f392-1f393, U+1f396, U+1f39e, U+1f3a0-1f3a2, U+1f3aa, U+1f3b0, U+1f3c9, U+1f3ce, U+1f3d2, U+1f3d4-1f3d5, U+1f3df, U+1f3e2, U+1f3e8, U+1f3eb, U+1f3ee, U+1f3f3-1f3f4, U+1f3f7, U+1f3fb-1f3ff, U+1f401, U+1f403, U+1f406, U+1f40f, U+1f417, U+1f421, U+1f428, U+1f42a, U+1f432, U+1f439, U+1f43f, U+1f452, U+1f456, U+1f458, U+1f45a-1f45b, U+1f45e, U+1f461-1f462, U+1f466-1f46a, U+1f477, U+1f488, U+1f4b7, U+1f4bb-1f4bc, U+1f4c0, U+1f4c5, U+1f4c9-1f4ca, U+1f4ce-1f4cf, U+1f4d5, U+1f4db, U+1f4e1, U+1f4e7-1f4e8, U+1f4ec, U+1f4ff, U+1f501, U+1f50b-1f50d, U+1f513, U+1f516, U+1f519, U+1f51b, U+1f549, U+1f574, U+1f578-1f579, U+1f587, U+1f58a-1f58c, U+1f5a5, U+1f5bc, U+1f5d1, U+1f5de, U+1f5e8, U+1f5ef, U+1f5f3, U+1f5fa, U+1f5fc, U+1f5ff, U+1f681, U+1f684-1f685, U+1f695, U+1f69a-1f69b, U+1f6a3, U+1f6a6-1f6a7, U+1f6aa, U+1f6b9-1f6bb, U+1f6bd, U+1f6c0-1f6c1, U+1f6cd-1f6d0, U+1f6d2, U+1f6e9, U+1f6f5, U+1f6f8, U+1f935-1f936, U+1f939-1f93a, U+1f93c, U+1f93e, U+1f944-1f945, U+1f948-1f949, U+1f956, U+1f958, U+1f95c, U+1f95f, U+1f962, U+1f965, U+1f967, U+1f96a, U+1f982, U+1f987, U+1f98c, U+1f98e, U+1f992-1f993, U+1f995, U+1f997, U+1f9d1-1f9d2, U+1f9d5-1f9d6, U+1f9d9, U+1f9de;
}
/* [14] */
@font-face {
  font-family: 'Noto Colr Emoji Glyf';
  font-style: normal;
  font-weight: 400;
  src: url(https://fonts.gstatic.com/s/notocolremojiglyf/v13/~ChYKFE5vdG8gQ29sciBFbW9qaSBHbHlmIAVCCQoFZW1vamkQAA==.14.woff2) format('woff2');
  unicode-range: U+30, U+34-35, U+200d, U+20e3, U+231a, U+23ec, U+23f1, U+23f3, U+2602-2603, U+262e-262f, U+2640, U+2642, U+2693, U+2696, U+2699, U+26b0, U+26c4-26c5, U+26c8, U+26d4, U+26e9, U+26f3, U+2709, U+2712, U+2733, U+2747, U+274e, U+2764, U+2795, U+27b0, U+fe0f, U+1f171, U+1f195, U+1f197, U+1f1e6, U+1f1e8-1f1ea, U+1f1ec-1f1ee, U+1f1f2-1f1f3, U+1f1f5, U+1f1f9-1f1fb, U+1f1fe-1f1ff, U+1f304-1f305, U+1f30b, U+1f311, U+1f315, U+1f31c, U+1f324, U+1f328, U+1f32c, U+1f32e, U+1f330, U+1f350, U+1f35d, U+1f360, U+1f365, U+1f367, U+1f371, U+1f373, U+1f376, U+1f383, U+1f38b-1f38c, U+1f38f, U+1f393, U+1f39f, U+1f3a3, U+1f3ab, U+1f3ad, U+1f3b1-1f3b2, U+1f3b7, U+1f3ba, U+1f3be, U+1f3c4-1f3c5, U+1f3c7-1f3c8, U+1f3cb-1f3cd, U+1f3cf-1f3d0, U+1f3dd, U+1f3e5, U+1f3e9, U+1f3f0, U+1f3f5, U+1f3f9, U+1f3fb-1f400, U+1f402, U+1f404-1f405, U+1f407, U+1f409-1f40c, U+1f411, U+1f418, U+1f41a-1f41b, U+1f424, U+1f427, U+1f429, U+1f42d-1f42e, U+1f435, U+1f443, U+1f453-1f455, U+1f457, U+1f45f, U+1f465, U+1f468-1f469, U+1f46c, U+1f470-1f471, U+1f473, U+1f47a, U+1f47e, U+1f487, U+1f48b, U+1f492, U+1f4b2-1f4b4, U+1f4b6, U+1f4bf, U+1f4c6, U+1f4c8, U+1f4e6, U+1f4ee, U+1f4f0, U+1f4f9, U+1f4fb, U+1f4fd, U+1f504-1f506, U+1f50e, U+1f510-1f512, U+1f517-1f518, U+1f51c, U+1f528, U+1f531, U+1f53a, U+1f53d, U+1f54b-1f54c, U+1f56f, U+1f575-1f577, U+1f596, U+1f5d3, U+1f5dd, U+1f5e1, U+1f5fb, U+1f5fd, U+1f63a, U+1f63e, U+1f64d-1f64e, U+1f682-1f683, U+1f68c, U+1f691-1f694, U+1f698-1f699, U+1f6a2, U+1f6a4, U+1f6b2, U+1f6bf, U+1f6cc, U+1f6e1, U+1f6eb, U+1f916, U+1f91d, U+1f925, U+1f931, U+1f933-1f934, U+1f94b, U+1f950-1f954, U+1f957, U+1f95a-1f95b, U+1f95d-1f95e, U+1f964, U+1f986, U+1f988-1f98a, U+1f98d, U+1f991, U+1f996, U+1f9d1, U+1f9d4, U+1f9dc, U+1f9df-1f9e0;
}
/* [15] */
@font-face {
  font-family: 'Noto Colr Emoji Glyf';
  font-style: normal;
  font-weight: 400;
  src: url(https://fonts.gstatic.com/s/notocolremojiglyf/v13/~ChYKFE5vdG8gQ29sciBFbW9qaSBHbHlmIAVCCQoFZW1vamkQAA==.15.woff2) format('woff2');
  unicode-range: U+32-33, U+200d, U+20e3, U+2194, U+2197-2198, U+23e9, U+25ab, U+25c0, U+2604, U+2640, U+2642, U+2660, U+2663, U+2666, U+267b, U+2694, U+269c, U+2702, U+270f, U+2716, U+271d, U+2734, U+2755, U+2764, U+2796, U+2b05-2b06, U+3030, U+3297, U+fe0f, U+1f170, U+1f198, U+1f1e6-1f1ec, U+1f1ef-1f1f1, U+1f1f4-1f1f5, U+1f1f7-1f1f8, U+1f303, U+1f308, U+1f30c, U+1f30f-1f310, U+1f31b, U+1f32a, U+1f332, U+1f33d, U+1f347-1f348, U+1f34d, U+1f34f, U+1f354, U+1f356-1f357, U+1f35a-1f35b, U+1f35e-1f35f, U+1f361, U+1f363-1f364, U+1f368-1f36a, U+1f36e-1f36f, U+1f374-1f375, U+1f378-1f379, U+1f37d, U+1f37f, U+1f386-1f387, U+1f393, U+1f397, U+1f399, U+1f3a8-1f3a9, U+1f3ac, U+1f3ae, U+1f3b9, U+1f3bb, U+1f3ca, U+1f3d6, U+1f3e0-1f3e1, U+1f3f3, U+1f3fb-1f3ff, U+1f40d-1f40e, U+1f410, U+1f412-1f414, U+1f416, U+1f419, U+1f41c, U+1f41e, U+1f420, U+1f422-1f423, U+1f426, U+1f42c, U+1f42f, U+1f433-1f434, U+1f43a, U+1f43d, U+1f442, U+1f459, U+1f460, U+1f463-1f464, U+1f466-1f469, U+1f46b, U+1f46d, U+1f46f, U+1f474-1f475, U+1f484, U+1f48a, U+1f491, U+1f4a0, U+1f4ac, U+1f4bb, U+1f4d6, U+1f4dd, U+1f4e9, U+1f52e, U+1f530, U+1f536, U+1f538, U+1f53b, U+1f638, U+1f63c-1f63d, U+1f6ac, U+1f6ae, U+1f6b4, U+1f6d1, U+1f91b-1f91d, U+1f930, U+1f941, U+1f943, U+1f94a, U+1f955, U+1f966, U+1f969, U+1f980-1f981, U+1f985, U+1f990, U+1f9c0, U+1f9d1-1f9d3, U+1f9d8, U+1f9e2;
}
/* [16] */
@font-face {
  font-family: 'Noto Colr Emoji Glyf';
  font-style: normal;
  font-weight: 400;
  src: url(https://fonts.gstatic.com/s/notocolremojiglyf/v13/~ChYKFE5vdG8gQ29sciBFbW9qaSBHbHlmIAVCCQoFZW1vamkQAA==.16.woff2) format('woff2');
  unicode-range: U+31, U+200d, U+20e3, U+23f0, U+25aa, U+2601, U+2611, U+2618, U+2620, U+2640, U+2642, U+2668, U+26aa-26ab, U+26be, U+2764, U+2b55, U+fe0f, U+1f1ee, U+1f1f2-1f1f3, U+1f1f7, U+1f1f9, U+1f1fd, U+1f300, U+1f30d-1f30e, U+1f31d, U+1f320, U+1f327, U+1f333, U+1f335-1f336, U+1f33e, U+1f341-1f342, U+1f344-1f346, U+1f349, U+1f34b-1f34c, U+1f355, U+1f35c, U+1f366, U+1f36b-1f36d, U+1f370, U+1f377, U+1f37c, U+1f37e, U+1f3a5, U+1f3a7, U+1f3af, U+1f3b8, U+1f3c0-1f3c1, U+1f3fb-1f3ff, U+1f408, U+1f415, U+1f41d, U+1f41f, U+1f425, U+1f430-1f431, U+1f43b-1f43c, U+1f441, U+1f444, U+1f466-1f469, U+1f46e, U+1f478-1f479, U+1f47d, U+1f47f, U+1f489, U+1f48b, U+1f48f, U+1f4a4, U+1f4ad-1f4ae, U+1f4b5, U+1f4da, U+1f4de, U+1f4e2, U+1f4f2, U+1f4f7, U+1f4fa, U+1f50a, U+1f514, U+1f51d-1f51e, U+1f52a-1f52b, U+1f537, U+1f539, U+1f54a, U+1f590, U+1f626-1f627, U+1f63f-1f640, U+1f649, U+1f697, U+1f6ab, U+1f912, U+1f915, U+1f91a, U+1f921, U+1f938, U+1f947, U+1f984, U+1f9d1-1f9d2, U+1f9da;
}
/* [17] */
@font-face {
  font-family: 'Noto Colr Emoji Glyf';
  font-style: normal;
  font-weight: 400;
  src: url(https://fonts.gstatic.com/s/notocolremojiglyf/v13/~ChYKFE5vdG8gQ29sciBFbW9qaSBHbHlmIAVCCQoFZW1vamkQAA==.17.woff2) format('woff2');
  unicode-range: U+200d, U+2049, U+25b6, U+260e, U+2614, U+2640, U+2642, U+26a0, U+2708, U+270d, U+2744, U+2753, U+27a1, U+2935, U+2b07, U+fe0f, U+1f1e7, U+1f1f7-1f1f8, U+1f1fa, U+1f30a, U+1f319-1f31a, U+1f331, U+1f334, U+1f34a, U+1f34e, U+1f351-1f352, U+1f37a, U+1f380, U+1f3a4, U+1f3bc, U+1f3fb-1f3ff, U+1f437-1f438, U+1f43e, U+1f445-1f446, U+1f44e, U+1f450, U+1f476, U+1f47b-1f47c, U+1f485-1f486, U+1f48c-1f48e, U+1f49f, U+1f4a1, U+1f4a3, U+1f4a7-1f4a9, U+1f4b8, U+1f4cc-1f4cd, U+1f4e3, U+1f4f1, U+1f4f8, U+1f535, U+1f57a, U+1f616-1f617, U+1f619, U+1f61f, U+1f628, U+1f62f, U+1f635, U+1f637, U+1f641, U+1f645, U+1f647, U+1f680, U+1f6a8-1f6a9, U+1f910-1f911, U+1f913, U+1f91f-1f920, U+1f922, U+1f927, U+1f92c, U+1f92e-1f92f, U+1f932, U+1f940, U+1f942, U+1f98b, U+1f9d0;
}
/* [18] */
@font-face {
  font-family: 'Noto Colr Emoji Glyf';
  font-style: normal;
  font-weight: 400;
  src: url(https://fonts.gstatic.com/s/notocolremojiglyf/v13/~ChYKFE5vdG8gQ29sciBFbW9qaSBHbHlmIAVCCQoFZW1vamkQAA==.18.woff2) format('woff2');
  unicode-range: U+200d, U+2615, U+261d, U+2639, U+2640, U+2642, U+26a1, U+26bd, U+270a, U+2714, U+274c, U+fe0f, U+1f31e, U+1f33a-1f33c, U+1f33f, U+1f343, U+1f353, U+1f37b, U+1f381-1f382, U+1f388, U+1f38a, U+1f3b5, U+1f3c3, U+1f3c6, U+1f3fb-1f3ff, U+1f436, U+1f448, U+1f44b, U+1f451, U+1f480-1f481, U+1f490, U+1f498, U+1f49d, U+1f4a2, U+1f4a6, U+1f4ab, U+1f4b0, U+1f534, U+1f595, U+1f5e3, U+1f610, U+1f615, U+1f61b, U+1f620, U+1f623-1f624, U+1f62b, U+1f62e, U+1f630, U+1f632, U+1f636, U+1f639, U+1f646, U+1f64a, U+1f6b6, U+1f919, U+1f91d-1f91e, U+1f928, U+1f92b, U+1f9e1;
}
/* [19] */
@font-face {
  font-family: 'Noto Colr Emoji Glyf';
  font-style: normal;
  font-weight: 400;
  src: url(https://fonts.gstatic.com/s/notocolremojiglyf/v13/~ChYKFE5vdG8gQ29sciBFbW9qaSBHbHlmIAVCCQoFZW1vamkQAA==.19.woff2) format('woff2');
  unicode-range: U+200d, U+2600, U+2640, U+2642, U+2705, U+270b, U+2757, U+2b50, U+fe0f, U+1f308, U+1f31f, U+1f337, U+1f340, U+1f3fb-1f3ff, U+1f440, U+1f449-1f44a, U+1f483, U+1f48b, U+1f4a5, U+1f608, U+1f611, U+1f613, U+1f61a, U+1f61c-1f61e, U+1f621, U+1f625, U+1f629-1f62a, U+1f62c, U+1f633-1f634, U+1f63b, U+1f643, U+1f64b, U+1f918, U+1f924, U+1f92a;
}
/* [20] */
@font-face {
  font-family: 'Noto Colr Emoji Glyf';
  font-style: normal;
  font-weight: 400;
  src: url(https://fonts.gstatic.com/s/notocolremojiglyf/v13/~ChYKFE5vdG8gQ29sciBFbW9qaSBHbHlmIAVCCQoFZW1vamkQAA==.20.woff2) format('woff2');
  unicode-range: U+200d, U+203c, U+263a, U+2640, U+2642, U+2665, U+270c, U+2728, U+2763-2764, U+fe0f, U+1f338-1f339, U+1f389, U+1f3b6, U+1f3fb-1f3ff, U+1f447, U+1f44c-1f44d, U+1f44f, U+1f493-1f497, U+1f499-1f49c, U+1f49e, U+1f4aa, U+1f4af, U+1f525, U+1f5a4, U+1f600-1f607, U+1f609-1f60f, U+1f612, U+1f614, U+1f618, U+1f622, U+1f62d, U+1f631, U+1f642, U+1f644, U+1f648, U+1f64c, U+1f64f, U+1f914, U+1f917, U+1f923, U+1f926, U+1f929, U+1f92d, U+1f937;
}
/* cyrillic-ext */
@font-face {
  font-family: 'Roboto';
  font-style: normal;
  font-weight: 100;
  src: url(https://fonts.gstatic.com/s/roboto/v29/KFOkCnqEu92Fr1MmgVxFIzIFKw.woff2) format('woff2');
  unicode-range: U+0460-052F, U+1C80-1C88, U+20B4, U+2DE0-2DFF, U+A640-A69F, U+FE2E-FE2F;
}
/* cyrillic */
@font-face {
  font-family: 'Roboto';
  font-style: normal;
  font-weight: 100;
  src: url(https://fonts.gstatic.com/s/roboto/v29/KFOkCnqEu92Fr1MmgVxMIzIFKw.woff2) format('woff2');
  unicode-range: U+0400-045F, U+0490-0491, U+04B0-04B1, U+2116;
}
/* greek-ext */
@font-face {
  font-family: 'Roboto';
  font-style: normal;
  font-weight: 100;
  src: url(https://fonts.gstatic.com/s/roboto/v29/KFOkCnqEu92Fr1MmgVxEIzIFKw.woff2) format('woff2');
  unicode-range: U+1F00-1FFF;
}
/* greek */
@font-face {
  font-family: 'Roboto';
  font-style: normal;
  font-weight: 100;
  src: url(https://fonts.gstatic.com/s/roboto/v29/KFOkCnqEu92Fr1MmgVxLIzIFKw.woff2) format('woff2');
  unicode-range: U+0370-03FF;
}
/* vietnamese */
@font-face {
  font-family: 'Roboto';
  font-style: normal;
  font-weight: 100;
  src: url(https://fonts.gstatic.com/s/roboto/v29/KFOkCnqEu92Fr1MmgVxHIzIFKw.woff2) format('woff2');
  unicode-range: U+0102-0103, U+0110-0111, U+0128-0129, U+0168-0169, U+01A0-01A1, U+01AF-01B0, U+1EA0-1EF9, U+20AB;
}
/* latin-ext */
@font-face {
  font-family: 'Roboto';
  font-style: normal;
  font-weight: 100;
  src: url(https://fonts.gstatic.com/s/roboto/v29/KFOkCnqEu92Fr1MmgVxGIzIFKw.woff2) format('woff2');
  unicode-range: U+0100-024F, U+0259, U+1E00-1EFF, U+2020, U+20A0-20AB, U+20AD-20CF, U+2113, U+2C60-2C7F, U+A720-A7FF;
}
/* latin */
@font-face {
  font-family: 'Roboto';
  font-style: normal;
  font-weight: 100;
  src: url(https://fonts.gstatic.com/s/roboto/v29/KFOkCnqEu92Fr1MmgVxIIzI.woff2) format('woff2');
  unicode-range: U+0000-00FF, U+0131, U+0152-0153, U+02BB-02BC, U+02C6, U+02DA, U+02DC, U+2000-206F, U+2074, U+20AC, U+2122, U+2191, U+2193, U+2212, U+2215, U+FEFF, U+FFFD;
}
